# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.Rproj.user

# Other
_init.R
read_niche.R
/manage

# Paths
/documenting
/img
/data
/hypo-testing

# Extensions
*.Rmd
*.html
*.pdf
*.zip
*.png
*.bib